	
#u83
{
    -pie-box-shadow: 0px 1px 8px #7F7F7F;
    -moz-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
    border-color: #000000;
    background-color: #383838;
    position: fixed;
}
 
#u82-4_img
{
    display: block;
    vertical-align: top;
}
 
#u369,#u371,#u373,#u375
{
    border-color: #000000;
    background-color: #212121;
    position: fixed;
}
 
#u370,#u372,#u374,#u376
{
    border-color: #000000;
    background-color: #4B4B4B;
    position: fixed;
}
 
#u82-4,#menuu110
{
    position: fixed;
}
 
#u121
{
    border-style: none;
    border-color: transparent;
    background-color: transparent;
    position: relative;
}
 
#u123
{
    vertical-align: top;
    background: url("../images/u123.png") no-repeat 0px 0px;
    position: relative;
}
 
#u121:hover #u123
{
    background: url("../images/u123-r.png") no-repeat 0px 0px;
}
 
#u121:active #u123
{
    background: url("../images/u123-m.png") no-repeat 0px 0px;
}
 
#u121.MuseMenuActive #u123
{
    background: url("../images/u123-a.png") no-repeat 0px 0px;
}
 
#u115
{
    vertical-align: top;
    background: url("../images/u115.png") no-repeat 0px 0px;
    position: relative;
}
 
#u114:hover #u115
{
    background: url("../images/u115-r.png") no-repeat 0px 0px;
}
 
#u114:active #u115
{
    background: url("../images/u115-m.png") no-repeat 0px 0px;
}
 
#u114.MuseMenuActive #u115
{
    background: url("../images/u115-a.png") no-repeat 0px 0px;
}
 
#u157
{
    vertical-align: top;
    background: url("../images/u157.png") no-repeat 0px 0px;
    position: relative;
}
 
#u156:hover #u157
{
    background: url("../images/u157-r.png") no-repeat 0px 0px;
}
 
#u156:active #u157
{
    background: url("../images/u157-m.png") no-repeat 0px 0px;
}
 
#u156.MuseMenuActive #u157
{
    background: url("../images/u157-a.png") no-repeat 0px 0px;
}
 
#u162
{
    vertical-align: top;
    background: url("../images/u162.png") no-repeat 0px 0px;
    position: relative;
}
 
#u161:hover #u162
{
    background: url("../images/u162-r.png") no-repeat 0px 0px;
}
 
#u161:active #u162
{
    background: url("../images/u162-m.png") no-repeat 0px 0px;
}
 
#u161.MuseMenuActive #u162
{
    background: url("../images/u162-a.png") no-repeat 0px 0px;
}
 
#u118,#u111,#u114,#u153,#u156,#u160,#u161,#u167,#u170
{
    position: relative;
}
 
#u173
{
    vertical-align: top;
    background: url("../images/u173.png") no-repeat 0px 0px;
    position: relative;
}
 
#u170:hover #u173
{
    background: url("../images/u173-r.png") no-repeat 0px 0px;
}
 
#u170:active #u173
{
    background: url("../images/u173-m.png") no-repeat 0px 0px;
}
 
#u170.MuseMenuActive #u173
{
    background: url("../images/u173-a.png") no-repeat 0px 0px;
}
 
.MenuItem /* unifiedNavBar */
{
    cursor: pointer;
}
 
#u360,#u359
{
    border-color: #000000;
    background-color: #FF0000;
    position: fixed;
}
